[Unit]
Description=OpenHR20 Daemon
After=openhr20-init.service

[Service]
Type=simple
ExecStart=/usr/bin/php /home/hr20/daemon.php
User=hr20
Group=hr20

[Install]
WantedBy=multi-user.target
