[Unit]
Description=Plot 3 day graph
ConditionPathExists=/tmp/openhr20/plots
After=openhr20-init.service

[Service]
Type=oneshot
ExecStart=/home/hr20/plot 3
User=hr20
Group=hr20
