[Unit]
Description=OpenHR20 HTTPD Daemon
After=openhr20-init.service

[Service]
Type=simple
Environment=LANG=C
ExecStart=/usr/sbin/httpd -f /etc/apache2/httpd_openhr20.conf -DFOREGROUND -D PHP5 -k start
ExecStop=/bin/kill -WINCH ${MAINPID}
KillSignal=SIGCONT

[Install]
WantedBy=multi-user.target
