[Unit]
Description=OpenHR20 Daemon
After=openhr20-init.service openhr20-setttyspeed.service dev-ttyUSB0.device
Wants=dev-ttyUSB0.device

[Service]
Type=simple
ExecStart=/usr/bin/php /home/hr20/daemon.php
User=hr20
Group=dialout
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
