[Unit]
Description=OpenHR20 DB-Creation
ConditionPathExists=!/tmp/hr20db.sqlite
After=systemd-tmpfiles-setup.service

[Service]
Type=oneshot
ExecStart=/home/hr20/init_openhr20.sh
User=hr20
Group=hr20

[Install]
WantedBy=multi-user.target
